body .recipe .ingredients ul li, body .recipe .prepare-time > ul li {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  padding: 5px 0;
  position: relative;
}
body .recipe .ingredients ul li::before, body .recipe .prepare-time > ul li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}

body .recipe .nutrition h2, body .recipe .instructions h2, body .recipe .ingredients h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 500;
  font-size: 28px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .recipe {
  width: 55%;
  background-color: hsl(0, 0%, 100%);
  margin-top: 100px;
  padding: 35px;
  border-radius: 20px;
}
body .recipe img {
  width: 100%;
  border-radius: 15px;
}
body .recipe h1 {
  font-family: "Young Serif", serif;
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 0;
}
body .recipe h4 {
  font-weight: normal;
  font-family: "Outfit", sans-serif;
}
body .recipe .prepare-time {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  border-radius: 15px;
}
body .recipe .prepare-time p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  color: hsl(332, 51%, 32%);
}
body .recipe .prepare-time > ul {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0 0 0 30px;
}
body .recipe .prepare-time > ul li span {
  color: hsl(24, 5%, 18%);
  font-weight: bold;
}
body .recipe .ingredients ul {
  list-style: none;
  padding: 0 0 12px 35px;
}
body .recipe .ingredients ul li::before {
  background-color: hsl(14, 45%, 36%);
}
body .recipe .instructions ol {
  padding: 0 0 20px 18px;
  counter-reset: item;
  margin-left: 0;
}
body .recipe .instructions ol li {
  display: block;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  padding: 5px 0;
}
body .recipe .instructions ol li span {
  font-weight: bold;
  color: hsl(24, 5%, 18%);
}
body .recipe .instructions ol li::before {
  display: inline-block;
  content: counter(item) ".";
  counter-increment: item;
  margin-right: 20px;
  margin-left: -18px;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
body .recipe .nutrition h2 {
  margin-bottom: 10px;
}
body .recipe .nutrition p {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}
body .recipe .nutrition .item {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
body .recipe .nutrition .item .item-name {
  margin-left: 20px;
  color: hsl(30, 10%, 34%);
  flex: 1;
}
body .recipe .nutrition .item .quantity {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  flex: 1;
  margin-left: 0%;
}

hr {
  border: 1px solid #eee;
}

@media (max-width: 800px) {
  .recipe {
    width: 70% !important;
  }
}
@media (max-width: 600px) {
  .recipe {
    width: 80% !important;
  }
  .recipe h1 {
    font-size: 30px !important;
  }
}
@media (max-width: 400px) {
  body {
    display: block !important;
    background-color: white;
  }
  body .recipe {
    width: 100% !important;
    margin-top: 0px !important;
    padding: 0px;
  }
  body .recipe img {
    border-radius: 0px;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */